@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --ff-cover-title: "Roboto Condensed", sans-serif;
  --ff-description: "Nunito Sans", sans-serif;
}

* {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: var(--ff-description);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
